page-home {
.background {
  background-image: url('../assets/bg.jpg');
}
.scroll-content {
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
}
