page-start-game {

  .pregunta {

    max-height: 300px;
    align-content: center;
    justify-content: center;
    }

  .background {
    background-image: url('../assets/bg.jpg');
  }

  .scroll-content {
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .item-radio .radio-icon
{
border: 0px;
padding: 0;
height: 0px
}



}
